/*  подключаем шрифты */
@font-face {
    font-family: Lato-Light;
    src: url(../fonts/9625.ttf);
}
/** {*/
/*    font-family: Lato-Light;*/
/*}*/

h3 {

}
.page-comments__name > h3 {
    width: 146px;
    height: 20px;
    left: 151px;
    top: 21px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}
.page-comments__name > p {
    font-size: 12px;
    line-height: 20px;

}
.page-comments__service {
    padding-left: 27%;
    background: #FFFBC8;
    margin-top: -20px;
    border-radius: 0 5px 5px 0px;
    box-sizing: border-box;
}
.page-comments__service > p {
    font-size: 14px;
}

.foto {
    z-index: 100;
    position: absolute;
}

.service {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
}

.page-comments__all > span {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}

hr {
    border: 1px solid #DADADA;
    margin-top: 12px !important;
}

.page-comments__info span{
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}

.page-comments__info .icon-like, .page-comments__info .icon-comment {
    font-size: 12px;
    line-height: 14px;
}

.page-comments__info a {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
}

.page-comments__progress-number {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-comments__progress__text {
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
}

.page-comments__block-ask > .row {
    background: #F2F2F2;
}

.page-comments__block-ask button {
    background: #FDD639;
}

.comment-window {
    background: #F2FBFF;
    position: relative;
    text-align: left;
    border: 1px solid #C4CBCF;
    box-shadow: 0px 4px 10px rgba(128, 128, 128, 0.1);

}
.comment-window:before,
.comment-window:after {
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    border: solid transparent;
    bottom: 40px;
}
.comment-window:before {
    border-left-color: #C4CBCF;
    border-bottom-color: #C4CBCF;
    border-width: 5px;
    margin-left: 11px;
}
.comment-window:after {
    border-left-color: #F2FBFF;
    border-bottom-color: #F2FBFF;
    border-width: 4px;
    margin-top: 5px;
    margin-left: 12px;
}

.data-text-info {
    color: gray;
    font-size: 12px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
}

.text-bold {
    font-size: 22px;
}
.underline {
    text-decoration: underline;
}
.progress {
    background: #4ac3ff;
}

button:focus {
    outline: none !important;
}